@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background: #ff69b4;
    background: radial-gradient(circle, #ff69b4 0%, #fc466b 100%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.container {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    background: rgb(255, 161, 208); 
}

h1 {
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 28px;
    color: black;
}

p {
    font-size: 22px;
    font-family: 'Quintessential', cursive;
    text-align: left;
}

.card1, .card2 {
    display: flex;
    justify-content: center;
}
.post1 {
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

.post2 {
    width: 460px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;

}

.post3 {
    width: 304px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;

}

.post4 {
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;

}

.cor1 {
    background: #94f3ff;
    box-shadow: inset 32px 32px 64px #6fb6bf,
            inset -32px -32px 64px #b9ffff;
}

.cor2 {
    background: #ff69b4;
    box-shadow: inset 32px 32px 64px #bf4f87,
            inset -32px -32px 64px #ff83e1;
}

.cor3 {
    background: #fff194;
    box-shadow: inset 32px 32px 64px #bfb56f,
            inset -32px -32px 64px #ffffb9;
}

.cor4 {
    background: #fdfdfc;
    box-shadow: inset 32px 32px 64px #bebebd,
            inset -32px -32px 64px #ffffff;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    cursor: pointer;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}

.inspiracao {
    font-size: 18px;
    text-align: center;
}

@media(max-width:450px){
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .card1, .card2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .post1 {
        width: 250px;
        height: 100px;
    }

    .post2{
        width: 250px;
        height: 275px;
    }

    .post3 {
        width: 250px;
        height: 220px;
    }

    .post4 {
        width: 250px;
        height: 100px;
    }


}