@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background: rgb(255,105,180);
    background: radial-gradient(circle, rgba(255,105,180,1) 0%, rgba(252,70,107,1) 100%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    margin-top: 50px;
    width: 75%;
    padding: 15px;
    border-radius: 15px;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    background: rgb(255, 161, 208);
    text-align: center;
}

img {
    width: 90%;
    height: 800px;
}

h1 {
    font-family: 'Quintessential', cursive;
    font-size: 28px;
}

p {
    font-family: 'Quintessential', cursive;
    font-size: 22px;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    cursor: pointer;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}

@media (max-width:450px) {
    img{
        width: 100%;
        height: 40%;
    }

    h1 {
        font-size: 18px;
    }
    
    p{
        font-size: 14px;
    }
}


