@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background: rgb(255,105,180);
    background: radial-gradient(circle, rgba(255,105,180,1) 0%, rgba(252,70,107,1) 100%);
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: aliceblue;
    width: 70%;
    height: 1000px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    background: #ffa1d0;
}

img {
    width: 90%;
    height: 65%;
    padding-top: 15px;
    margin: 15px;
}

h1 {
    font-family: 'Quintessential', cursive;
    font-size: 28px;
    color: black;
}

p {
    padding: 15px 50px;
    font-size: 20px;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    cursor: pointer;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}

@media (max-width:450px) {
    .card {
        width: 90%;
        height: 50%;
    }

    img {
        width: 90%;
        height: 30%;
    }

    h1 {
        font-size: 18px;
        padding: 5px;
    }

    p {
        font-size: 14px;
        padding: 15px 15px;
    }
}

