@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background: rgb(255,105,180);
    background: radial-gradient(circle, rgba(255,105,180,1) 0%, rgba(252,70,107,1) 100%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    text-align: center;
}

h1 {
    font-family: 'Quintessential', cursive;
    font-size: 28px;
    margin-bottom: 0;
}

.sub-titulo {
    margin-top: 0;
    font-size: 25px;
}

.container {
    width: 90%;
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    background: rgb(255, 161, 208);
}

.fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 15px;
}

.polaroid {
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.300);
}

img {
    margin-top: 15px;
    width: 275px;
    height: 300px;
}

.luas {
    margin-top: 15px;
    font-size: 16px;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #ffa1d0;
    box-shadow: inset 12px 12px 24px #bf799c, inset -12px -12px 24px #ffc9ff;
    cursor: pointer;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}



