@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background: rgb(255,105,180);
    background: radial-gradient(circle, rgba(255,105,180,1) 0%, rgba(252,70,107,1) 100%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

div {
    width: 800px;
    height: 800px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

h2, p {
    font-family: 'Quintessential', cursive;
    font-size: 22px;
}

button {
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    border: none;
}

a {
    text-decoration: none;
    font-family: 'Quintessential', cursive;
    font-size: 22px;
    color: black;
}
